@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #8e44ad;
  color: #fff;
  font-family: "Roboto Mono", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#time-container {
  background-color: #fff;
  color: black;
  width: auto;
  padding: 20px;
  font-size: 5em;
  margin-bottom: 20px;
}
#date-container {
  background-color: #fff;
  color: black;
  width: auto;
  padding: 20px;
  font-size: 3em;
  margin-bottom: 20px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  max-width: 600px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #6c5ce7;
  color: #fff;
  border: none;
  border-radius: 5px;
}
/* time tracker  */
#stopwatch {
  font-size: 3em;
  font-weight: bold;
  color: #3498db;
  margin: 20px 0;
  padding: 10px; /* Adds padding inside the stopwatch display */
  background-color: #ecf0f1; /* Optional: Adds a background color */
  border-radius: 10px;
  width: fit-content;
  border: 2px solid #7f8c8d;
}
/* Styles for the Start/Stop button */
#startStopBtn {
  font-size: 0.8em;
  padding: 8px 16px;
  background-color: #3498db;
  border-radius: 4px;
}
#resetBtn {
  font-size: 0.8em;
  padding: 8px 16px;
  background-color: #e74c3c; /* A distinct color indicating a reset action */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px; /* Optional: Add some space above the reset button */
}

#logTimeBtn {
  font-size: 0.8em;
  padding: 8px 16px;
  background-color: #3498db;
  border-radius: 4px;
}
#total-hours {
  margin-top: 20px;
  font-size: 1.5em; /* Adjust for visibility */
  padding: 10px;
  background-color: #34495e; /* Dark background for contrast */
  color: #ecf0f1; /* Light text for readability */
  border-radius: 5px; /* Rounded corners */
}

#edit-reset-total-hours {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #95a5a6; /* Neutral, matches buttons */
  color: #fff;
  border: none;
  border-radius: 5px; /* Consistency with button styles */
  cursor: pointer;
}

button:disabled {
  background-color: #7f8c8d;
  cursor: not-allowed;
}

.active {
  display: block; /* Or flex, depending on your layout needs */
  position: absolute;
  width: 40%;
  top: 0;
  bottom: 0;
  overflow: auto; /* Allows scrolling if content exceeds the viewport height */
  z-index: 2; /* Ensures visibility over other elements */
}

#to-do-list.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
  color: black;
  padding: 20px;
}

#time-tracker.active {
  right: 0;
  background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent black */
  color: white;
  padding: 20px;
}

.hidden {
  display: none;
}

.delete-btn {
  padding: 4px 8px;
  font-size: 0.8em;
  background-color: #e74c3c; /* Red, indicating a potentially destructive action */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px; /* Adds a little space above the button */
}
